.container {
    background-color: #1a1a1a;
    min-width: 100vw;
    min-height: 100vh;
    padding: 2rem;
    padding-top: 20rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: normal;
    text-align: center;
}

.search-box {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid #444;
    border-radius: 12px;
    padding: 1rem;
    width: 100%;
    max-width: 600px;
}

input {
    width: 100%;
    background: transparent;
    border: none;
    color: white;
    font-size: 1.1rem;
    padding: 0.5rem;
    padding-bottom: 0rem;
    outline: none;
    border-radius: 50px;
}

.controls {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    font-size: 0.9rem;
    gap: 0.1rem;
}

button {
    background: transparent;
    border: none;
    color: #888;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.right-controls {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 4px 8px;
    border-radius: 8px;
}

.pro-toggle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Switch toggle styling */
.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    border-radius: 20px;
    transition: 0.4s;
    border: 1px solid #444;
}

.slider:before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #666;
}

input:checked + .slider:before {
    transform: translateX(16px);
}

/* Style the Pro text */
.pro-toggle span {
    color: #888;
    font-size: 0.9rem;
}

/* Style the submit button */
.submit-btn {
    background-color: rgba(255, 255, 255, 0.1);
    width: 32px;
    height: 32px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border-radius: 50%;
}

.suggestions {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 1rem;
}

.suggestion-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    color: #888;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
}

.arrow {
    color: #666;
}

.submit-btn.active {
    background-color: #007bff; /* or your preferred active color */
    color: white;
    cursor: pointer;
}

.submit-btn:not(.active) {
    cursor: not-allowed;
}
